.overlay{
    aspect-ratio: 1/1;
    height: 100%;
    top: 0;
    left: 0;

    
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    
    opacity: 0;
    transition: var(--transition);
    background-color: rgba(0,0,0,0.7);
    
    color: var(--white);
    
    /* Fix: Padding extra no SAFARI */
    padding: 0 !important;
}

.overlay:hover {
    opacity: 1;
}